VITE_SUPABASE_URL=https://bngxhmdvrbellfmnglwb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuZ3hobWR2cmJlbGxmbW5nbHdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMjczMjgsImV4cCI6MjA5MTgwMzMyOH0.WI4_Ct3EZVj79x2TGzwxCUoYJDZfyscxPsbTtb9P2jk
